# node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# firebase / emulator logs
firebase-debug.log
firestore-debug.log
ui-debug.log
*.log

# TS build outputs
lib/
dist/

# env
.env
.env.local
.env.*.local

# mac
.DS_Store
